<library path="lib/libdji_parser">
  <class name="dji_parser/DjiParser" type="dji_parser::DjiParser" base_class_type="parsernode::Parser">
    <description>
			Parser Library for DJI Matrice 100
    </description>
  </class>
  <class name="dji_parser/DjiHILParser" type="dji_parser::DjiHILParser" base_class_type="parsernode::Parser">
    <description>
			HIL Parser Library for DJI Matrice 100
    </description>
  </class>
</library>
